.wrap {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: clamp(12px, 2vw, 24px);
  margin: 24px 0 32px;
}

.title {
  font-size: clamp(18px, 4vw, 32px);
  font-weight: 400;
  font-family: "Shalimar", cursive;
  color: #fff;
  white-space: nowrap;
}

.icon {
  display: block;
  width: 52px;
  height: auto;
}

.mirror {
  transform: scaleX(-1);
}

@media (max-width: 560px) {

  .wrap {
    margin: 16px 0 20px;
  }
}